body {
    background-color: #333;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 4px;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: #383838;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: 8px;
    max-width: 400px;
    padding: 20px;
    overflow: hidden;
}

.card h2{
    font-size: 1.5em;
    margin: 0;
    border-bottom: #fff 1px solid;
    margin-bottom: 10px;
}